autoray
baytune
cirq
cffi
cotengra @ git+https://github.com/jcmgray/cotengra@master
dask
docopt
dill
distributed
jax
jaxlib
kahypar
more_itertools
networkx
numba
numexpr
numpy
opt_einsum
optuna
pytest
python-igraph
quimb
scipy
tqdm
